<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css">
  </head>
  <body>
    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Weather App
          </h1>
          <h2 class="subtitle">
            What cities would you like to see?
          </h2>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-offset-4 ">
            <form method='POST'>
              <div class="field is-grouped">
                <p class="control is-expanded">
                  {% csrf_token %}
                  {{ form.name }}
                </p>
                <p class="control">
                  <input class="button is-info" type="submit" value="Add City">
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-4 is-offset-4 ">
            {% for city in city_list %}
            <div class="box">
              <article class="media">
                <div class="media-left">
                  <figure class="image is-64x64">
                    <img src="http://openweathermap.org/img/w/{{city.icon}}.png" alt="Image">
                  </figure>
                </div>
                <div class="media-content">
                  <div class="content">
                    <h3 class="title is-3">{{ city.city}}</h3>
                    <p>{{ city.temperature}}° F</p>
                    <p>{{ city.description}}</p>
                  </div>
                </div>
              </article>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </body>
</html>


